@model VehicleManagementSystem.src.Models.CustomerDTO

<div class="page-center">
    <div class="form-card">
        <h2>Edit Customer</h2>

        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="FirstName">First Name:</label>
                <input asp-for="FirstName"/>
                <span class="field-error" asp-validation-for="FirstName"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Last Name:</label>
                <input asp-for="LastName"/>
                <span class="field-error" asp-validation-for="LastName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email"/>
                <span class="field-error" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Phone Number:</label>
                <input asp-for="PhoneNumber"/>
                <span class="field-error" asp-validation-for="PhoneNumber"></span>
            </div>

            <div>
                <label asp-for="Age">Age:</label>
                <input asp-for="Age" />
                <span class="field-error" asp-validation-for="Age"></span>
            </div>

            <div class="form-actions">
                <button class="btn" type="submit">Save Changes</button>
                <a asp-action="Index">Cancel</a>
            </div>

        </form>
    </div>
</div>
