@model VehicleManagementSystem.src.Models.USERMODEL

<h1>Create New Customer</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="fname"></label>
        <input asp-for="fname" />
    </div>

    <div>
        <label asp-for="fname"></label>
        <input asp-for="fname" />
    </div>

    <div>
        <label asp-for="email"></label>
        <input asp-for="email" />
    </div>

    <div>
        <label asp-for="phonenumber"></label>
        <input asp-for="phonenumber" />
    </div>

    <button type="submit">Create Customer</button>
    <a asp-action="Index">Cancel</a>
</form>
