@model VehicleManagementSystem.src.Models.VehicleDTO

<h1>Edit Vehicle</h1>

<form asp-action="Edit" method="post">

    <div>
        <label asp-for="Model">Model: </label>
        <input asp-for="Model" />
    </div>

    <div>
        <label asp-for="Make">Make: </label>
        <input asp-for="Make" />
    </div>

    <div>
        <label asp-for="LicensePlate">License Plate: </label>
        <input asp-for="LicensePlate" />
    </div>

    <div>
        <label asp-for="PriceRate">Price Rate ($/day): </label>
        <input asp-for="PriceRate" />
    </div>

    <div>
        <label asp-for="ImageURL">Image URL: </label>
        <input asp-for="ImageURL" />
    </div>

    <button type="submit">Save Changes</button>
    <a asp-action="Index">Cancel</a>
</form>
