@model VehicleManagementSystem.src.Models.RESERVATIONMODEL

<div class="page-center">
    <div class="form-card">
        <h1>Edit Reservation</h1>

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="reservationid" />

            <div class="form-group">
                <label for="returnedDate"></label>
                <input name="returnedDate" type="date"/>
            </div>

            <div class="form-actions">
                <button class="btn" type="submit">Save Changes</button>
                <a asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
